@import "../nodebb-theme-persona/theme";

@import "less/tggfl";

@bgimg: "/plugins/nodebb-theme-tggfl/images/tempest.png";

.topic{
  background: white;
  padding-top: 1em;
  box-shadow: 0 0 10px 2px #58525269;
}

.topic, .category{
  .bread-arrow{
    padding-right: 0.2em;

    ol.breadcrumb{
      position: absolute;
      left: 15px;
      background: white;
      padding: 5px 10px;
      border-radius: 5px;
      box-shadow: 0 0 9px #33333375;
      font-size: 18px;
      line-height: 1.5em;
      z-index: 99;
      transition: all .2s;
      transform: scaleY(0) translateY(-100%);

      &>li{
        display: block;
        top: 0;

        &+li:before{
          content: "\f061";
        }
      }

      
    }

    &:hover, &:active{
      cursor: pointer;

      ol.breadcrumb{
        transform: scaleX(1);
      }
    }

    .content{
      img, .user-icon {
				border: 1px solid #756f64; // 头像边框
      }
      
      a.pull-left>span.avatar-rounded{
				border: 1px solid #756f64; // 帖子列表自定义头像（懒得加class了…
      }
      
      h2 {
				font-size: 16px !important; // 自定义
        font-weight: 700; // 自定义
      }
    }
  }
}

.category {
	border-radius: 5px; // 自定义样式
  box-shadow: 0 0 40px 0px #352f278f; // 自定义样式
}
